<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">

    <% if title %>
      <title><%= title %></title>
    <% end %>

    <% if description %>
      <meta name="description" content="<%= description %>">
    <% end %>

    <% if canonical %>
      <link rel="canonical" href="<%= canonical %>">
    <% end %>

    <% if robots %>
      <% robots.each do |robot| %>
        <meta name="robots" content="<%= robot %>">
      <% end %>
    <% end %>

    <% if og_type %>
      <meta property="og:type" content="<%= og_type %>">
    <% end %>

    <% if og_title %>
      <meta property="og:title" content="<%= og_title %>">
    <% end %>

    <% if og_description %>
      <meta property="og:description" content="<%= og_description %>">
    <% end %>

    <% if og_site_name %>
      <meta property="og:site_name" content="<%= og_site_name %>">
    <% end %>

    <% if og_image %>
      <meta property="og:image" content="<%= og_image %>">
    <% end %>

    <% if og_url %>
      <meta property="og:url" content="<%= og_url %>">
    <% end %>
  </head>
  <body>
  </body>
</html>
